img {
  width: 300px;
  height: 300px;
}

h1{
  text-align: center;
  font-family: impact, fantasy;
  font: bold;
  font-style: italic;
  background-color: white;
  font-size: 80px;
  text-emphasis-color: pink;
}
h2 {
  font-size: 44px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  border: 2px solid white;
}
.well{
  background: pink
}

p {
  font-size: 22px;
  padding: 4px;
  font-family: verdana;
  border: 4px double white;
  margin: 8px;
  text-align: center;
}

body{
  background-image: url("sky2.jpg");
  background-repeat: no-repeat;
}

.label {
  padding: 10px;
  margin: 10px;
  color: white;
}

.glyphicon {
  font-size: 150px;
  color: #e2b1e0;
  border: 5px double white;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 20px;

}

.btn {
  color: pink;
  background-color: white;
  border: 6px solid white;
  font-size: 22px;
}

iframe{
  border: 20px solid pink;
  margin-top: 20px;
  margin-left: 340px;
}
